@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 21% 16%;
    --foreground: 60 12% 95%;
    --muted: 220 12% 20%;
    --muted-foreground: 220 12% 70%;
    --popover: 220 21% 13%;
    --popover-foreground: 0 0% 100%;
    --card: 220 21% 14%;
    --card-foreground: 0 0% 100%;
    --border: 220 11% 21%;
    --input: 220 11% 24%;
    --primary: 40 100% 70%;
    --primary-foreground: 40 100% 10%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 220 21% 31%;
    --accent-foreground: 220 21% 91%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
    --destructive: 8 85% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 100% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 21% 16%;
    --foreground: 60 12% 95%;
    --muted: 220 12% 20%;
    --muted-foreground: 220 12% 70%;
    --popover: 220 21% 13%;
    --popover-foreground: 0 0% 100%;
    --card: 220 21% 14%;
    --card-foreground: 0 0% 100%;
    --border: 220 11% 21%;
    --input: 220 11% 24%;
    --primary: 40 100% 70%;
    --primary-foreground: 40 100% 10%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 220 21% 31%;
    --accent-foreground: 220 21% 91%;

    --warning: 41 98% 53%;
    --warning-foreground: 0 0% 8%;
    --destructive: 8 85% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 100% 70%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Manrope/Manrope-VariableFont_wght.ttf) format('truetype');
  }
}

body {
  font-family: 'Manrope', sans-serif
}

.login svg {
  fill: var(--foreground);
}

.login a {
  @apply text-primary;
  text-decoration: underline;
  transition-duration: 300ms;
}

.login a:hover {
  color: white;
  transition-duration: 300ms;
}

ol li::marker {
  font-size: x-large;
}
