{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>
<p>
    We created this recipe website out of sheer frustration. With the web overloaded with bloated recipe sites,
    overflowing with intrusive advertisements and clickbaits, we felt the need for something simpler, cleaner, and more
    respectful of users' time and patience.
</p>
<p>
    Our primary aim is to provide a platform that puts content first, keeps it minimal, functional, and user-friendly.
    We focus on what really matters: the recipes. No unnecessary pop-ups, no auto-playing videos, and definitely no
    interstitials begging for subscriptions.
</p>
<p>
    We believe that cooking should be an enjoyable experience, and finding a recipe online shouldn't spoil that joy.
    Here, you'll find everything you need, presented in a clean and efficient manner, letting you focus on creating
    culinary masterpieces.
</p>
{% endblock %}