{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col-lg-4 mb-4">
        <div class="card bg-dark text-white h-100">
            {% if recipe.image %}
            <img class="card-img-top" src="{{ recipe.image.url }}" alt="Image of {{ recipe.name }}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{% url 'recipes:recipe_detail' recipe.pk %}" class="text-white">
                        {{ recipe.name }}
                    </a>
                </h3>
                <p class="card-text">{{ recipe.description }}</p>
                <p>Prep Time: {{ recipe.prep_time }} | Cook Time: {{ recipe.cook_time }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-white">No recipes yet.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}